:root {
  --body-background-color: #fff;
  --body-text-color: #6b7076;
  --header-table-background: #0097a7;
  --highlight-active-color: #fff;
  --dg-bgcolor: #f3f3f3;
  --dg-color-hovertr: #d6e5f5;
  --dg-color-text: #747272;
  --dg-color-text-lighter: #9fa3a9;
  --dg-color-border: #c6c6c6;
  --dg-color-ok: #3bb49f;
  --dg-color-ok-hover: #0cc987;
  --dg-color-reset: #8b0000;
  --dg-color-reset-hover: #ff0000;
  --dg-bgcolor-reset-hover: #f1f1f1;
  --dg-color-mt-btn-click: rgba(236, 240, 241, 0.3);
  --title-color-1: #2184a5;
  --title-color-2: rgb(61, 255, 171);
  --dg-sorted-color: #006064;
  --dg-sorted-darker: #26c6da;
  --loader-dimension: 2.2585em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
}

h2 {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.7em;
  font-weight: 900;
  letter-spacing: 1.1px;
  color: var(--title-color-1);
  margin: 10px 15px 20px;
  padding: 0;
  background: linear-gradient(
    to right,
    var(--title-color-1),
    var(--title-color-2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-box {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 8px 15px 0;
}

input {
  color: var(--dg-color-text);
  border: 1px solid var(--dg-color-border);
  border-radius: 4px;
  display: block;
  padding: 8px;
  font-size: 1.1em;
}

::placeholder {
  color: var(--dg-color-text-lighter);
}

.dg-mt-btn {
  position: relative;
  border: 1px solid var(--dg-color-border);
  padding: 2px 14px;
  background-color: var(--highlight-active-color);
  border-radius: 4px;
  outline: none;
  font-size: 1.5em;
  line-height: 1.5em;
  box-sizing: border-box;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dg-mt-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: var(--dg-color-mt-btn-click);
  transform: translate(-50%, -50%);
}

.dg-mt-btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.dg-btn-search {
  color: var(--dg-color-ok);
}

.dg-btn-search::after {
  content: '\1F50D';
}

.dg-btn-search:hover {
  background-color: var(--dg-color-ok-hover);
  color: var(--highlight-active-color);
}

.dg-btn-reset-filter {
  font-size: 1em;
}

.dg-btn-reset {
  color: var(--dg-color-reset);
}

.dg-btn-reset::after {
  content: '\21BB';
}

.dg-btn-reset:hover {
  background-color: var(--dg-bgcolor-reset-hover);
  color: var(--dg-color-reset-hover);
}

.container-table {
  margin: 8px 15px 0;
  box-shadow: 0 0 6px 1px var(--dg-color-border);
}

.paging-container {
  user-select: none;
}

/* table */
* {
  scroll-margin-top: 43px;
}

.dg-grid {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1em;
  line-height: 1.2;
  width: 100%;
}

.dg-grid thead {
  position: sticky;
  height: 43px;
  inset-block-start: 0; /* "top" */
}

.dg-grid thead tr {
  background-color: var(--header-table-background);
  color: var(--highlight-active-color);
  text-align: left;
}

.dg-grid th,
.dg-grid td {
  padding: 12px 15px;
  overflow-x: hidden;
  box-sizing: border-box;
  display: table-cell;
}

.dg-grid th {
  position: relative;
  font-size: 1em;
  font-weight: unset;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  user-select: none;
}

.dg-grid tbody tr {
  vertical-align: top;
}

.dg-grid tbody tr:nth-of-type(even) {
  background-color: var(--dg-bgcolor);
}

.dg-grid tbody tr:last-of-type {
  border-bottom: 2px solid var(--header-table-background);
}

.dg-grid tbody tr:hover {
  background-color: var(--dg-color-hovertr) !important;
}

.dg-grid.sortable th {
  cursor: pointer;
  text-transform: capitalize;
}

.dg-grid.sortable th.sorted-asc,
.dg-grid.sortable th.sorted-desc {
  color: var(--dg-sorted-color);
  background-color: var(--dg-sorted-darker);
  font-weight: 600;
}

.dg-grid.sortable th.sorted-asc:after,
.dg-grid.sortable th.sorted-desc:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  right: 3px;
}

.dg-grid.sortable th.sorted-asc:after {
  content: '\21A7';
}

.dg-grid.sortable th.sorted-desc:after {
  content: '\21A5';
}

.cell-label {
  display: flex;
}

.cell-content {
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

input[type='checkbox'].cell-checkbox {
  visibility: hidden;
  width: 0;
  height: 0;
}

input[type='checkbox'].cell-checkbox:checked + .cell-content {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
  animation: fade-in 0.5s forwards;
}

#dimmer {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--body-background-color);
  opacity: 0;
  z-index: -10;
  transition: opacity 0.3s ease-in-out;
}

#dimmer.active {
  opacity: 0.4;
  z-index: 9999;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  text-align: center;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
}

.loader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.loader:after {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader 0.6s linear;
  animation-iteration-count: infinite;
  border-color: var(--title-color-1) transparent transparent;
  border-style: solid;
  border-width: 0.2em;

  box-shadow: 0px 0px 0px 1px transparent;
  border-radius: 50%;
}

.loader:before,
.loader:after {
  width: var(--loader-dimension);
  height: var(--loader-dimension);
  margin: 0em 0em 0em - (var(--loader-dimension) / 2);
}

#dimmer.active .loader {
  display: block;
}

/* Message */
.message {
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0.8rem 1.45rem;
  margin-left: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px 1px var(--dg-color-border);
  max-width: 450px;
  transition: all 0.3s linear;
  transform: translateY(0);
  opacity: 1;
}

.notification-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  height: 24px;
  width: 24px;
  transition: color 0.1s;
  cursor: pointer;
}

.notification-close svg {
  display: block;
}

.notification-close .close-x {
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.message-error {
  color: #9f3a38;
  background-color: #fff0f0;
  border-color: #dbb1b1;
  font-size: 1.1rem;
}

.message-error .close-x {
  stroke: rgb(202, 14, 14);
}

.message .header {
  display: block;
  font-weight: 700;
  margin: -0.25em 0 0 0;
}

.message .header + p {
  margin-top: 0.25em;
  font-size: 0.93em;
  line-height: 1.25em;
}

.message-error .header {
  color: #912d2b;
}

.message-error .header::before {
  content: '\26A0';
  font-size: 2rem;
  color: rgb(202, 14, 14);
  margin-right: 10px;
}

.message.hide {
  transform: translateY(-100%);
  opacity: 0;
}

/* Active Animation */
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
  (max-width: 935px) {
  .dg-grid {
    border: 1px solid var(--dg-border);
  }
  .dg-grid thead {
    display: none;
  }
  .dg-grid colgroup {
    display: none;
  }
  .dg-grid td {
    display: block;
  }
  .dg-grid td:before {
    content: attr(data-th) ':\00a0';
    font-weight: bold;
    color: var(--dg-color-4);
    min-width: 8rem;
    display: inline-block;
  }
  .dg-tab-columns .tab-content .overlay-name-fields {
    display: block;
  }
  .title-additional {
    display: block;
  }
}
