:root {
  --btn-text-color: #3e77aa;
  --border-number-pages: rgba(0, 0, 0, 0.24);
  --btn-page-active-color: #21665b;
  --btn-page-active-border-color: #3bb49f;
  --btn-page-background: #e5e5e5;
  --color-hover: #f80707;
  --dg-color-prev-next: #0a77f3;
  --dg-color-text-link: #118ba3;
}

a.custom-link {
  cursor: pointer;
  color: var(--dg-color-text-link);
}

.custom-checkbox {
  display: inline-flex;
}

.custom-checkbox input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

/* paging */
.dg-status-box {
  display: flex;
  padding: 8px 12px;
  margin: 0;
  min-height: 42px;
  align-items: center;
  justify-content: space-between;
}

.dg-status-box .dg-paging {
  display: flex;
  visibility: hidden;
}

.dg-paging .dg-per-page {
  color: var(--btn-text-color);
  border: 1px solid var(--border-number-pages);
  padding: 5px;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 0.4em;
  outline: none;
}

.dg-per-page.per-page-hide {
  display: none;
}

.dg-paging .pagination {
  display: flex;
  align-items: stretch;
}

.pagination button {
  color: var(--btn-text-color);
  padding: 6px 16px;
  cursor: pointer;
  border: 0;
}

.pagination button:focus {
  outline: none;
}

.pagination .dg-number-pages {
  display: flex;
}

.dg-number-pages button {
  display: inline-block;
  background: transparent;
  font-size: 1.12em;
  font-weight: 500;
  padding: 0;
  margin-right: 2px;
  width: 46px;
  border-radius: 0.4em;
  text-align: center;
}

.dg-number-pages button.active {
  border: 3px solid var(--btn-page-active-border-color);
  color: var(--btn-page-active-color);
}

.dg-number-pages button:disabled {
  font-weight: 700;
}

.dg-number-pages button:not(.active):not(:disabled) {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.dg-number-pages button:hover:not(.active) {
  border: 3px solid rgba(0, 0, 0, 0.2);
}

.pagination button[data-index='prev'],
.pagination button[data-index='next'],
.pagination button[data-index='first'],
.pagination button[data-index='last'] {
  background: transparent;
  color: var(--dg-color-prev-next);
  font-size: 1.9em;
  font-weight: 500;
}

.pagination button[data-index='first'],
.pagination button[data-index='last'] {
  width: 40px;
  display: none;
}

.pagination button[data-index='prev']:hover:enabled,
.pagination button[data-index='next']:hover:enabled,
.pagination button[data-index='first']:hover:enabled,
.pagination button[data-index='last']:hover:enabled {
  color: var(--color-hover);
}

.pagination button[data-index='prev']:disabled,
.pagination button[data-index='next']:disabled,
.pagination button[data-index='first']:disabled,
.pagination button[data-index='last']:disabled {
  color: var(--btn-page-background);
}

.dg-status-box .show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-text-color);
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.show-more:active i.show-more-icon {
  transform: rotate(25deg);
}

.show-more i.show-more-icon {
  text-align: center;
  font-size: 4em;
  transition: all 0.3s linear;
}

.show-more-icon::before {
  content: '\27F3';
  font-style: normal;
  font-weight: 900;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
  (max-width: 700px) {
  .dg-paging .dg-per-page {
    display: none;
  }
  .dg-number-pages button {
    display: none;
  }

  .dg-number-pages button.active.current {
    display: block;
  }

  .pagination button[data-index='first'],
  .pagination button[data-index='last'] {
    display: block;
  }
}
